<div class="planets-list">
    <app-search-planet 
				(onSearchPlanet)="searchPlanets($event)"
				[inputValue]="searchQuery"
        ></app-search-planet>
    <mat-paginator  #paginator
                    [length]="length"
                    [pageIndex]="pageIndex"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    (page)="pageEvent = handlePaginatorEvent($event)">
    </mat-paginator>
    <div *ngIf="isFetching" class="planets-list__loader">
        <img src="../../assets/noun_Death Star_1519498.svg" alt="Death Star">
    </div>
    <div *ngIf="!isFetching" class="planets-list__table">
        <ul class="planets-list__inner">
            <li [routerLink]="[planet.id]"
              *ngFor="let planet of planetsLoaded.slice(pageIndex*pageSize, (pageIndex+1)*pageSize)"
              class="planets-list__item">
                <h3 queryParamsHandling="preserve">{{planet.name}}</h3>
            </li>
					</ul>
		</div>
		<hr>
		<hr>
		<hr>
</div>
