@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&family=Mono&display=swap');

$color-background: #18192d;
$color-planet-background: #afbcd8;
$color-navy: navy;
$color-purple-dark: #747fb5;
$color-purple-light: #a2d0ff;

$font-roboto-mono: 'Roboto Mono',
monospace;
$font-museo: 'MuseoModerno',
cursive;
