.search-planet {
  display: flex;

  &__input {
    flex-grow: 1;
    padding: 10px;

    &::placeholder {
      font-family: 'Roboto', sans-serif;
    }
  }

  &__btn {
    padding: 0 20px;
    background: navy;
    color: #fff;
    box-shadow: none;
    border: none;
  }
}
